/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --text-color: #000;
  --bg-color: #fff;
  --frequency-color:  #007bff;
  --gray-additional: #79828b;
}




/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* BODY */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--bg-color);
  color: var(--text-color);
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITENAV */
.sitenav {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

/* LOGO */
.site-header-logo-link {
  display: block;
  font-size: 30px;
  line-height: normal;
  font-weight: bolder;
  white-space: nowrap;
  font-family: "Roboto", "Arial", serif;
  text-decoration: none;
  color: var(--text-color);
}

.site-header-logo-link:hover {
  color:#565e65;
}

.site-header-logo-link:active {
  opacity: 0.6;
}


/* SITENAV */
.sitenav {
  display: flex;
}

.sitenav:hover {
  opacity: 0.8;
}

.sitenav:active {
  opacity: 0.6;
}

.sitenav-list {
  display: flex;
}

.sitenav-item {
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 32px;
}

.sitenav-link {
  display: block;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.sitenav-link:hover {
  color: #565e65;
}

.sitenav-link:active {
  opacity: 0.6;
}


/* CTA-BUTTON */
.portfolio-body {
  background-color: #f1f1f1;
  color: #444;
  font-size: 18px;
}


.about-me-article-container {
  max-width: 720px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
}

/* SITE-HEADER */
.site-header {
  background-color: #f2f2f2;
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  margin-right: auto;
}

.site-header__sitenav {
  display: none;
}

.site-header--open .site-header__sitenav {
  display: block;
  position: absolute;
  z-index: 1;
  right: 32px;
  top: 88px;
  min-width: 223px;
  max-width: calc(100% - 64px);
  padding: 40px;
  background-color: #33323d;
}


.site-header__toggler {
  display: block;
  width: 24px;
  height: 19px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/hamburger-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.site-header--open .site-header__toggler {
  background-image: url("../img/close.svg");
}




/* HERO */
.hero {
  margin-bottom: 96px;
}

.hero-container {
  margin-top: 20px;
}

.hero-heading-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hero-img {
  width: 250px;
  height: 300px;
  margin-right: 50px;
  border-radius: 8px;
}

.hero-heading-info-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0;

}

.hero-title {
  display: block;
  font-weight: 700;
  margin-top: 0;
  font-size: 50px;
  font-family: "Roboto", "Arial", sans-serif;
  margin-bottom: 30px;
  line-height: 1.2;
  color: var(--text-color);
}

.hero-title-deck {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.2;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);

}

.hero-socials {
  display: flex;
}

.hero-socials-list {
  padding: 0;
  display: flex;
  list-style: none;
  text-align: left;
  align-items: center;
}

.hero-socials-item:not(:last-child) {
  margin-right: 10px;
}

.hero-socials-link {
  text-decoration: none;
}


/* HER0-DETAIL */
.hero-detail-terxt {
  margin-top: 20;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5;
  color: rgba(0, 0, 0, 0.75);

}

.button-wrapper {
  display: flex;
}

.button {
  display: inline-block;
  align-items: center;
  padding: 16px 24px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.button-first {
  background-color: var(--frequency-color);
  color: var(--bg-color);
  margin-right: 15px;
}

.button-first:hover {
  opacity: 0.8;
}

.button-first:active {
  opacity: 0.6;
}

.button-second {
  border: 2px solid var(--frequency-color);
  background-color: var(--bg-color);
  color: var(--frequency-color);
}

.button-second:hover {
  color:  var(--frequency-color);
  background-color:  #f0e9e9;
}

.button-second:active {
  opacity: 0.8;
  color:  var(--frequency-color);
  background-color:  #f0e9e9;
}




/* ABOUT-ME */
.about-me-section-title-wrapper {
  padding: 20px;
}

.about-me-section-title {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.row .justify-center {
  max-width: 700px;
  display: flex;
  justify-content: center;

}



.about-me-articles {
  margin-bottom: 40px;
}

.about-me-text {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
}

figure {
  display: block;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

}

.figure-wrapper {
  display: block;
  text-align: center;
  font-weight: 400;
}

.figcaption-info {
  display: block;
  text-align: center;
  color: var(--gray-additional);
}



/* PORTFOLIO */
/* HEADER */
.site-header-portfolio {
  background-color: #a1a1a1c9;
}


.portfolio__container {
  display: flex;
  max-width: 1200px;
}

.portfolio__gather {
  display: flex;
}

.portfolio__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 250px;
  list-style: none;
  text-decoration: 0;
}


.portfolio__item:not(:last-child) {
  margin-right: 100px;
  margin-bottom: 30px;
}

.index__portfolio {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: 0;

}

.index__portfolio-img {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index__portfolio-wrapper {
  background-color: #fff;
}

.index__portfolio-info {
  padding: 15px;
}

.index__portfolio-name {
  margin-top: 0;
}

.index__portfolio-name-link {
  font-size: larger;
  text-decoration: none;
  list-style: none;
}

.index__portfolio-name-link:hover {
  color: #007bff;
  opacity: 0.8;
}

.index__portfolio-name-link:active {
  opacity: 0.6;
}

.index__portfolio-text {
}


/* FOOTER */
.footer {
  margin-top: auto;
  font-size: 16px;
  text-align: center;

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
}

@media only screen and (min-width: 500px)  {
  .hero-img {
    height: 300px;
  }
}

@media only screen and (min-width: 700px)  {
  .site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-footer__container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .site-header {
    padding-top: 64px;
    padding-bottom: 47px;
  }

  .site-header__sitenav,
  .site-header--open .site-header__toggler {
    position: static;
    display: block;
    padding: 0;
    background-color: transparent;
  }

  .site-header__toggler {
    display: none;
  }

  .sitenav--site-header  .sitenav__list {
    display: flex;
  }

  .sitenav--site-header  .sitenav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 42px;
  }

  .sitenav--site-header .sitenav__link {
    color: greenyellow;
  }

  .sitenav__item--active .sitenav__link {
    color: green;
  }

  .hero__container {
    position: relative;
    z-index: 1;
  }

  .hero-img {
    margin-bottom: none;
  }

  .hero-heading-info-wrapper {
    margin-bottom: 48px;
  }
}


@media only screen and (min-width: 1024px) {
  .hero {
    margin-bottom: 150px;
  }

  .hero-heading-info-wrapper {
    width: 445px;
  }

  .hero-detail {
    margin-bottom: 56px;
  }
}

@media only screen and (min-width: 1180px) {
  .site-header {
    padding-bottom: 54px;
  }
}