:root {
  --text-color: #000;
  --bg-color: #fff;
  --frequency-color:  #007bff;
  --gray-additional: #79828b;
}



/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}

.about-me-article-container {
  max-width: 720px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
}

/* SITE-HEADER */
.site-header {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo-link {
  display: block;
  font-size: 30px;
  line-height: normal;
  font-weight: bolder;
  white-space: nowrap;
  font-family: "Roboto", "Arial", serif;
  text-decoration: none;
  color: var(--text-color);
}

/* SITENAV */
.sitenav {
  display: flex;
}

.sitenav-list {
  display: flex;
}

.sitenav-item {
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 20px;
}

.sitenav-link {
  text-decoration: none;
  font-size: larger;
  line-height: normal;
  font-weight: bolder;
  color: var(--text-color);

}


/* MAIN */
.hero-container {
  margin-top: 20px;
}

.hero-heading-wrapper {
  display: flex;
  align-items: center;

}

.hero-img {
  width: 250px;
  height: 300px;
  margin-right: 50px;
  border-radius: 8px;
}

.hero-heading-info-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0;

}

.hero-title {
  display: block;
  font-weight: 700;
  margin-top: 0;
  font-size: 50px;
  font-family: "Roboto", "Arial", sans-serif;
  margin-bottom: 30px;
  line-height: 1.2;
  color: var(--text-color);
}

.hero-title-deck {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.2;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);

}

.hero-socials {
  display: flex;
}

.hero-socials-list {
  padding: 0;
  display: flex;
  list-style: none;
  text-align: left;
  align-items: center;
}

.hero-socials-item:not(:last-child) {
  margin-right: 10px;
}

.hero-socials-link {
  text-decoration: none;
}


/* HER0-DETAIL */
.hero-detail-terxt {
  margin-top: 20;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5;
  color: rgba(0, 0, 0, 0.75);

}

.button-wrapper {
  display: flex;
}

.button {
  display: inline-block;
  align-items: center;
  padding: 16px 24px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.button-first {
  background-color: var(--frequency-color);
  color: var(--bg-color);
  margin-right: 15px;
}

.button-first:hover {
  opacity: 0.8;
}

.button-first:active {
  opacity: 0.6;
}

.button-second {
  border: 2px solid var(--frequency-color);
  background-color: var(--bg-color);
  color: var(--frequency-color);
}

.button-second:hover {
  color:  var(--frequency-color);
  background-color:  #f0e9e9;
}

.button-second:active {
  opacity: 0.8;
  color:  var(--frequency-color);
  background-color:  #f0e9e9;
}




/* ABOUT-ME */
.about-me-section-title-wrapper {
  padding: 20px;
}

.about-me-section-title {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.row .justify-center {
  max-width: 700px;
  display: flex;
  justify-content: center;

}



.about-me-articles {
  margin-bottom: 40px;
}

.about-me-text {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
}

figure {
  display: block;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

}

.figure-wrapper {
  display: block;
  text-align: center;
  font-weight: 400;
}

.figcaption-info {
  display: block;
  text-align: center;
  color: var(--gray-additional);
}



/* FOTTER */
.footer {
  margin-top: auto;
  font-size: 16px;
  text-align: center;

}
